# Homework - Week 1
## Zachary Keller

# Q1

What's the version of NumPy that you installed?

You can get the version information using the `__version__` field:

`np.__version__`

In [2]:
import numpy as np
import pandas as pd

In [3]:
np.__version__

'1.21.5'

## Getting the data

For this homework, we'll use the Car price dataset. Download it from here.

You can do it with wget:

`wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv`

In [1]:
!wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

--2022-09-07 17:12:04--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1475504 (1.4M) [text/plain]
Saving to: ‘data.csv’

data.csv            100%[===================>]   1.41M  --.-KB/s    in 0.06s

2022-09-07 17:12:04 (24.3 MB/s) - ‘data.csv’ saved [1475504/1475504]

# Q2 

How many records are in the dataset? (number of rows)

In [5]:
df = pd.read_csv('data.csv')
df.head(5)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [12]:
n_rows = df.shape[0]
print(f'There are {n_rows:,} rows')

There are 11,914 rows

## Q3

Who are the most frequent car manufacturers (top-3) according to the dataset? (Using the `make` column)

In [85]:
make_counts_desc = df \
    .agg(n = ('Make', 'size'))

In [86]:
make_counts_desc = df \
    .groupby(['Make']) \
    .agg(n = ('Make', 'size')) \
    .sort_values('n', ascending=False)

top_3 = make_counts_desc \
    .head(3)

top_3

               n
Make
Chevrolet   1123
Ford         881
Volkswagen   809

# Q4

What's the number of unique Audi car models in the dataset?

In [49]:
df[df.Make == 'Audi'].Model.unique().size

34

# Q5

How many columns in the dataset have missing values?

In [66]:
df.isna().any().sum()

5

# Q6

1. Find the median value of "Engine Cylinders" column in the dataset.
2.  Next, calculate the most frequent value of the same "Engine Cylinders".
3. Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
4. Now, calculate the median value of "Engine Cylinders" once again.

Has it changed?

In [83]:
original_eng_cyl_median = df['Engine Cylinders'].median()
original_eng_cyl_median

6.0

In [121]:
most_frequent = df['Engine Cylinders'].mode()

In [131]:
df_filled = df.copy()

df_filled['Engine Cylinders'] = \
    df_new['Engine Cylinders'] \
        .fillna(most_frequent)

In [132]:
filled_eng_cyl_median = df_filled['Engine Cylinders'].median()
filled_eng_cyl_median

6.0

In [133]:
original_eng_cyl_median != filled_eng_cyl_median

False

It has not changed

# Q7

1. Select all the "Lotus" cars from the dataset.
2. Select only columns "Engine HP", "Engine Cylinders".
3. Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
4. Get the underlying NumPy array. Let's call it X.
5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
6. Invert XTX.
7. Create an array y with values `[1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].`
8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
9. What's the value of the first element of w?

Note: You just implemented linear regression. We'll talk about it in the next lesson.

In [141]:
lotus = df[df.Make == 'Lotus']
lotus = lotus[['Engine HP', 'Engine Cylinders']]
lotus = lotus.drop_duplicates()

lotus.shape

(9, 2)

In [159]:
X = np.array(lotus)
XT = X.T
XTX = np.matmul(XT, X)
iXTX = np.linalg.inv(XTX)

y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

temp = np.matmul(iXTX, XT)
w = np.matmul(temp, y)
# hat = np.matmul(np.matmul(X, iXTX), XT)
# w = np.matmul(hat, y)

w

array([  4.59494481, -63.56432501])