In [1]:
import os

## Homework


> Note: sometimes your answer doesn't match one of the options exactly. That's fine. 
Select the option that's closest to your solution.

### Dataset

In this homework, we will use the California Housing Prices data from [Kaggle](https://www.kaggle.com/datasets/camnugent/california-housing-prices).

Here's a wget-able [link](https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv):

```bash
wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv
```
We'll keep working with the `'median_house_value'` variable, and we'll transform it to a classification task.

In [2]:
if not os.path.isfile('housing.csv'):
    !wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv

 

### Features

For the rest of the homework, you'll need to use only these columns:

* `'latitude'`,
* `'longitude'`,
* `'housing_median_age'`,
* `'total_rooms'`,
* `'total_bedrooms'`,
* `'population'`,
* `'households'`,
* `'median_income'`,
* `'median_house_value'`,
* `'ocean_proximity'`,

### Data preparation

* Select only the features from above and fill in the missing values with 0.
* Create a new column `rooms_per_household` by dividing the column `total_rooms` by the column `households` from dataframe. 
* Create a new column `bedrooms_per_room` by dividing the column `total_bedrooms` by the column `total_rooms` from dataframe. 
* Create a new column `population_per_household` by dividing the column `population` by the column `households` from dataframe.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
raw = pd.read_csv('housing.csv')

cols = [
    'latitude',
    'longitude',
    'housing_median_age',
    'total_rooms',
    'total_bedrooms',
    'population',
    'households',
    'median_income',
    'median_house_value',
    'ocean_proximity',
]

df = raw[cols].reset_index(drop=True)

In [5]:
df.head(3)

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,37.88,-122.23,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,37.86,-122.22,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,37.85,-122.24,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY

In [6]:
df['rooms_per_household'] = df.total_rooms / df.households
df['bedrooms_per_household'] = df.total_bedrooms / df.households
df['population_per_household'] = df.population / df.households

df[['rooms_per_household', 'bedrooms_per_household', 'population_per_household']].head(3)

   rooms_per_household  bedrooms_per_household  population_per_household
0             6.984127                1.023810                  2.555556
1             6.238137                0.971880                  2.109842
2             8.288136                1.073446                  2.802260

### Question 1

What is the most frequent observation (mode) for the column `ocean_proximity`?

Options:
* `NEAR BAY`
* `<1H OCEAN`
* `INLAND`
* `NEAR OCEAN`

In [7]:
df.ocean_proximity.value_counts(sort=True).head(1)

<1H OCEAN    9136
Name: ocean_proximity, dtype: int64

### Question 2

* Create the [correlation matrix](https://www.google.com/search?q=correlation+matrix) for the numerical features of your train dataset.
    - In a correlation matrix, you compute the correlation coefficient between every pair of features in the dataset.
* What are the two features that have the biggest correlation in this dataset?

Options:
* `total_bedrooms` and `households`
* `total_bedrooms` and `total_rooms`
* `population` and `households`
* `population_per_household` and `total_rooms`

In [8]:
# credit: https://stackoverflow.com/a/28155580/1854907
# want to at least check to ensure binary encoding of 1/0 is not included
df_numeric = df.select_dtypes(include=[np.number]).reset_index(drop=True)
df_numeric.head(3)

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,rooms_per_household,bedrooms_per_household,population_per_household
0,37.88,-122.23,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,6.984127,1.023810,2.555556
1,37.86,-122.22,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,6.238137,0.971880,2.109842
2,37.85,-122.24,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,8.288136,1.073446,2.802260

In [9]:
corr_mat = df_numeric.corr()
corr_mat = corr_mat.reset_index()
corr_mat.rename(columns={'index': 'var_1'}, inplace=True)

In [10]:
corr_mat_long = corr_mat.melt(id_vars=['var_1'], var_name='var_2', value_name='corr')
corr_mat_long['abs_corr'] = abs(corr_mat_long.loc[:, 'corr'])

corr_mat_long \
    .loc[corr_mat_long.var_1 != corr_mat_long.var_2] \
    .sort_values('abs_corr', axis=0, ascending=False, ignore_index=True) \
    .head(5)

            var_1           var_2      corr  abs_corr
0  total_bedrooms      households  0.979728  0.979728
1      households  total_bedrooms  0.979728  0.979728
2     total_rooms  total_bedrooms  0.930380  0.930380
3  total_bedrooms     total_rooms  0.930380  0.930380
4       longitude        latitude -0.924664  0.924664

### Make `median_house_value` binary

* We need to turn the `median_house_value` variable from numeric into binary.
* Let's create a variable `above_average` which is `1` if the `median_house_value` is above its mean value and `0` otherwise.

In [11]:
avg_median_house_value = df.median_house_value.mean()

df['above_average'] = (df.median_house_value > avg_median_house_value).astype(int)

print(avg_median_house_value)
df[['median_house_value', 'above_average']].sample(5, random_state=1).head(5)

206855.81690891474

       median_house_value  above_average
4712             355000.0              1
2151              70700.0              0
15927            229400.0              1
82               112500.0              0
8161             225400.0              1

### Split the data

* Split your data in train/val/test sets, with 60%/20%/20% distribution.
* Use Scikit-Learn for that (the `train_test_split` function) and set the seed to 42.
* Make sure that the target value (`median_house_value`) is not in your dataframe.

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
seed = 42

df_train_full, df_test = train_test_split(df, test_size=0.2, random_state=seed)
df_train, df_val = train_test_split(df_train_full, test_size=0.25, random_state=seed)

del df_train['median_house_value']
del df_val['median_house_value']
del df_test['median_house_value']

y_train = df_train['above_average']
y_val = df_val['above_average']
y_test = df_test['above_average']

del df_train['above_average']
del df_val['above_average']
del df_test['above_average']

### Question 3

* Calculate the mutual information score with the (binarized) price for the categorical variable that we have. Use the training set only.
* What is the value of mutual information?
* Round it to 2 decimal digits using `round(score, 2)`

Options:
- 0.26
- 0
- 0.10
- 0.16

In [14]:
from sklearn.metrics import mutual_info_score

In [15]:
round(mutual_info_score(y_train, df_train.ocean_proximity), 4)

0.1014

### Question 4

* Now let's train a logistic regression
* Remember that we have one categorical variable `ocean_proximity` in the data. Include it using one-hot encoding.
* Fit the model on the training dataset.
    - To make sure the results are reproducible across different versions of Scikit-Learn, fit the model with these parameters:
    - `model = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42)`
* Calculate the accuracy on the validation dataset and round it to 2 decimal digits.

Options:
- 0.60
- 0.72
- 0.84
- 0.95

In [16]:
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LogisticRegression

In [17]:
train_dict = df_train.to_dict(orient='records')
dv = DictVectorizer(sparse=False)
dv.fit(train_dict)
X_train = dv.transform(train_dict)
X_train.shape

(12384, 16)

In [18]:
print(dv.get_feature_names_out())
X_train[5, :]

['bedrooms_per_household' 'households' 'housing_median_age' 'latitude'
 'longitude' 'median_income' 'ocean_proximity=<1H OCEAN'
 'ocean_proximity=INLAND' 'ocean_proximity=ISLAND'
 'ocean_proximity=NEAR BAY' 'ocean_proximity=NEAR OCEAN' 'population'
 'population_per_household' 'rooms_per_household' 'total_bedrooms'
 'total_rooms']

array([ 9.97005988e-01,  3.34000000e+02,  3.20000000e+01,  3.37300000e+01,
       -1.18110000e+02,  5.04760000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  1.00000000e+00,  6.45000000e+02,
        1.93113772e+00,  3.76646707e+00,  3.33000000e+02,  1.25800000e+03])

In [19]:
model = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42)
model.fit(X_train, y_train)

LogisticRegression(max_iter=1000, random_state=42, solver='liblinear')

In [20]:
from sklearn.metrics import accuracy_score

val_dict = df_val.to_dict(orient='records')
dv.fit(val_dict)
X_val = dv.transform(val_dict)

y_pred = model.predict_proba(X_val)[:, 1]
preds_val = y_pred >= 0.5

original_accuracy = accuracy_score(y_val, preds_val >= 0.5)

print(round(original_accuracy, 2))

0.84

### Question 5 

* Let's find the least useful feature using the *feature elimination* technique.
* Train a model with all these features (using the same parameters as in Q4).
* Now exclude each feature from this set and train a model without it. Record the accuracy for each model.
* For each feature, calculate the difference between the original accuracy and the accuracy without the feature. 
* Which of following feature has the smallest difference? 
   * `total_rooms`
   * `total_bedrooms` 
   * `population`
   * `households`

> **note**: the difference doesn't have to be positive

In [21]:
model = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42)

elimination_df = pd.DataFrame({'field': [], 'accuracy': []})

for col in df_train.columns:
    x_drop = df_train.drop(col, axis=1)
    x_drop_dict = x_drop.to_dict(orient='records')
    dv.fit(x_drop_dict)
    X_drop = dv.transform(x_drop_dict)
    
    model.fit(X_drop, y_train)
    
    val_drop_dict = df_val.drop(col, axis=1).to_dict(orient='records')
    dv.fit(val_drop_dict)
    X_val_drop = dv.transform(val_drop_dict)
    
    y_preds_drop_val = model.predict_proba(X_val_drop)[:, 1]
    preds_drop = y_preds_drop_val >= 0.5
    
    ac = accuracy_score(y_val, preds_drop)
    
    temp = pd.DataFrame({'field': [col], 'accuracy': [ac]})
    elimination_df = pd.concat([elimination_df, temp])

In [22]:
elimination_df['accuracy_diff'] = elimination_df.accuracy - original_accuracy
elimination_df['abs_accuracy_diff'] = abs(elimination_df.accuracy_diff)

elimination_df.sort_values('abs_accuracy_diff').head()

                      field  accuracy  accuracy_diff  abs_accuracy_diff
0               total_rooms  0.837209      -0.000242           0.000242
0    bedrooms_per_household  0.836725      -0.000727           0.000727
0  population_per_household  0.836725      -0.000727           0.000727
0            total_bedrooms  0.835514      -0.001938           0.001938
0       rooms_per_household  0.835029      -0.002422           0.002422

### Question 6

* For this question, we'll see how to use a linear regression model from Scikit-Learn
* We'll need to use the original column `'median_house_value'`. Apply the logarithmic transformation to this column.
* Fit the Ridge regression model (`model = Ridge(alpha=a, solver="sag", random_state=42)`) on the training data.
* This model has a parameter `alpha`. Let's try the following values: `[0, 0.01, 0.1, 1, 10]`
* Which of these alphas leads to the best RMSE on the validation set? Round your RMSE scores to 3 decimal digits.

If there are multiple options, select the smallest `alpha`.

Options:
- 0
- 0.01
- 0.1
- 1
- 10

In [23]:
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import Ridge

# sorry this is me being lazy
seed = 42

df_train_full, df_test = train_test_split(df, test_size=0.2, random_state=seed)
df_train, df_val = train_test_split(df_train_full, test_size=0.25, random_state=seed)

y_train = df_train.median_house_value
y_val = df_val.median_house_value

del df_train['median_house_value']
del df_val['median_house_value']

alphas = [0, 0.01, 0.1, 1, 10, 100, 1000]

alpha_df = pd.DataFrame({'alpha': [], 'rmse': []})

train_dict = df_train.to_dict(orient='records')
dv.fit(train_dict)
x_train = dv.transform(train_dict)

val_dict = df_val.to_dict(orient='records')
dv.fit(val_dict)
x_val = dv.transform(val_dict)

for a in alphas:
    model = Ridge(alpha=a, solver="sag", random_state=42)
    model.fit(x_train, y_train)
    
    y_preds_val = model.predict(x_val)

    preds_val = y_preds_val >= 0.5
    
    rmse = mean_squared_error(y_val, preds_val, squared=False)
    
    temp = pd.DataFrame({'alpha': [a], 'rmse': [rmse]})
    alpha_df = pd.concat([alpha_df, temp])

In [24]:
alpha_df.sort_values(['rmse', 'alpha'])

     alpha           rmse
0     0.00  239045.560539
0     0.01  239045.560539
0     0.10  239045.560539
0     1.00  239045.560539
0    10.00  239045.560539
0   100.00  239045.560539
0  1000.00  239045.560539

## Submit the results

* Submit your results here: https://forms.gle/vQXAnQDeqA81HSu86
* You can submit your solution multiple times. In this case, only the last submission will be used 
* If your answer doesn't match options exactly, select the closest one


## Deadline

The deadline for submitting is 26 September (Monday), 23:00 CEST.

After that, the form will be closed.